* {
    font-family: sans-serif;
    
  }
  body{
    background-color: rgb(85, 3, 3);
  }
  header{
      text-align: center;
      margin-top: 15vh;
      color: white;
  }
  
    
  #username, #password {
    width: 80%;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
  }
  .button{
    border: 1px solid black;
    border-radius: 5px;

  }
  .button:hover{
    background-color:gainsboro;
}
 .button:active{
      background-color: orangered;
  }
  
  #button-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    width: 80%;
    padding: 4px;
      

  }
  main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }

  #left-img{
    grid-column: 1;
  }
  #right-img{
    grid-column: 3;
  }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  
  #user-info-group {    
    margin: auto;
    margin-top: 2%;
    width: 70%;
    min-width: 150px;
    padding: 1%;
    background-color: gray;
    border-radius: 25px;
    display: grid;
    justify-items: center;
    grid-column: 2;
  }

  
  
  
 
  