body {
    background-color: #e7e7e7;
    font-family:"Montserrat", sans-serif;
}

journal-collection {
    border-radius: 25px;
    color: white;
    background-color: #FF0031;
    margin: 10px
}
journal-collection:hover {
    background-color: #A4001F;
    transition: 0.5s;
}


.entry {
    
    border: solid black 2px;
    display: inline-block;
    white-space: nowrap;
    padding: 5px;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.container {
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.new-journal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

.journal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.cancel, .create {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#button-group {
    display: table;
    
    column-gap: 100px;
    
    padding: 4px;
    justify-content: space-evenly;
}

.button:hover {
    background-color:gainsboro;
}

.button:active {
    background-color: orangered;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: gainsboro;
    text-decoration: none;
    cursor: pointer;
  }

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

#journal-entries-wrapper {
    margin-left: 50px;
}

.wrapper{
    display: grid;
    grid-template-columns: 17vw 83vw;
    height: 98vh;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    color: #4f4f4f;
}

#create-button {
    color: white;
    background-color: #FF0031;
    float: right;
    padding: 4px;
    margin-right: 1vw;
    border-radius: 15px;
}

#create-button:hover {
    background-color: #A4001F;
    transition: 0.5s;
}

/* Sidebar */
.sidebar {
    z-index: 1;
    height: 100%;
    left: 0px;
    top: 0px;
    background:#FF0031;
    border-radius: 0px 20px 20px 0px;
}

.logo {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

/* Jocelot text */
.logo h1 {
    color:white;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

/* Jocelot Logo */
.logo img {
    width: 59px;
    height: 100%;
    left: 4px;
}

/* Page Container */
.sidebar a {
    display: block;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 16px 0px 16px 36px;
}


.sidebar a:hover {
    background-color:#A4001F;
    transition: 0.5s;
}